{% extends "base.html" %}

{% block title %}注册{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="container" style="max-width: 500px; width: 100%;">
        <h2 class="text-center">注册</h2>
        <form method="POST" action="{{ url_for('front.register') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="username">用户名</label>
                {{ form.username(class="form-control") }}
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                {{ form.password(class="form-control") }}
            </div>
            <div class="form-group">
                <label for="password2">重复密码</label>
                {{ form.password2(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary btn-block", value="注册") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}